<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/front/common :: headSrc">
</head>

<body class="res layout-1 layout-subpage">

	<div id="wrapper" class="wrapper-fluid banners-effect-5">
		<header id="header" class=" typeheader-1" th:replace="fragments/front/common :: headerMenu"></header>

		<div class="main-container container banners-demo-w">
			<ul class="breadcrumb">
				<li><a href="#"><i class="fa fa-home"></i></a></li>
				<li><a href="#">Page</a></li>
				<li><a href="#">Banner Effect</a></li>
			</ul>

			<div class="row">
				<div id="content" class="col-sm-12">

					<div class="banners-demo">
						<h3>Banner Hover</h3>
						<p>Hover over image below to see effect.</p>
						<div class="row">
							<div class="col-lg-6 col-md-6">
								<div class="module banners-effect-1">
									<h3>Hover effect 1</h3>
									<div class="banners">
										<div>
											<a href="#"><img src="/front/image/demo/cms/banner-01.png" alt=""></a>
										</div>
									</div>
								</div>


							</div>
							<div class="col-lg-6 col-md-6">
								<div class="module banners-effect-2">
									<h3>Hover effect 2</h3>
									<div class="banners">
										<div>
											<a href="#"><img src="/front/image/demo/cms/banner-01.png" alt=""></a>
										</div>
									</div>
								</div>

							</div>
						</div>

						<div class="row">
							<div class="col-lg-6 col-md-6">
								<div class="module banners-effect-3">
									<h3>Hover effect 3</h3>
									<div class="banners">
										<div>
											<a href="#"><img src="/front/image/demo/cms/banner-01.png" alt=""></a>
										</div>
									</div>
								</div>


							</div>
							<div class="col-lg-6 col-md-6">
								<div class="module banners-effect-4">
									<h3>Hover effect 4</h3>
									<div class="banners">
										<div>
											<a href="#"><img src="/front/image/demo/cms/banner-01.png" alt=""></a>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-lg-6 col-md-6">
								<div class="module banners-effect-5">
									<h3>Hover effect 5</h3>
									<div class="banners">
										<div>
											<a href="#"><img src="/front/image/demo/cms/banner-01.png" alt=""></a>
										</div>
									</div>
								</div>


							</div>
							<div class="col-lg-6 col-md-6">
								<div class="module banners-effect-6">
									<h3>Hover effect 6</h3>
									<div class="banners">
										<div>
											<a href="#"><img src="/front/image/demo/cms/banner-01.png" alt=""></a>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-lg-6 col-md-6">
								<div class="module banners-effect-7">
									<h3>Hover effect 7</h3>
									<div class="hover_effect_type ">
										<div class="banners">
											<div>
												<a href="#"><img src="/front/image/demo/cms/banner-01.png" alt=""></a>
											</div>
										</div>
									</div>
								</div>


							</div>
							<div class="col-lg-6 col-md-6">
								<div class="module banners-effect-8">
									<h3>Hover effect 8</h3>
									<div class="banners">
										<div>
											<a href="#"><img src="/front/image/demo/cms/banner-01.png" alt=""></a>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-lg-6 col-md-6">
								<div class="module banners-effect-9">
									<h3>Hover effect 9</h3>
									<div class="banners">
										<div>
											<a href="#"><img src="/front/image/demo/cms/banner-01.png" alt=""></a>
										</div>
									</div>
								</div>

							</div>
							<div class="col-lg-6 col-md-6">
								<div class="module banners-effect-10">
									<h3>Hover effect 10</h3>
									<div class="banners">
										<div>
											<a href="#"><img src="/front/image/demo/cms/banner-01.png" alt=""></a>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-lg-6 col-md-6">
								<div class="module banners-effect-11">
									<h3>Hover effect 11</h3>
									<div class="banners">
										<div>
											<a href="#"><img src="/front/image/demo/cms/banner-01.png" alt=""></a>
										</div>
									</div>
								</div>

							</div>
							<div class="col-lg-6 col-md-6">
								<div class="module banners-effect-12">
									<h3>Hover effect 12</h3>
									<div class="banners">
										<div>
											<a href="#"><img src="/front/image/demo/cms/banner-01.png" alt=""></a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>


				</div>
			</div>
		</div>

		<footer class="footer-container typefooter-1" th:replace="fragments/front/common :: ibioFooter"></footer>
	</div>

	<th:block th:replace="fragments/front/common :: scriptSrc"></th:block>

</body>

</html>